# Descriptive analytics

# Temporal Demand Patterns & Seasonality # Lina
- Pro Tag / Pro Woche / Pro Monat / Pro Jahr 
- Mit Wetterdaten vergleichen
 

## Geographical Demand Patterns # Nico, Jieyu
## ? Pro Stadtteil angemeldete Autos
## Altersgruppen je Stadtteil -> Zusammenhang zu Abo Modellen
## Pass -> Häufig für den Arbeitsweg? (RoundTrip, OneWay, Zeiten)

## KPIs
- Aktuelle Auslastung (Live & Historisch, Pro Station) (-> Mehr Stationen, Fahrräder?) # Lukas 
- Ausfall/Probleme: (Wartungsaufwand (z.B. in Prozent available/not available), ) # Ange
- Umsatz durch "Minutengeld"

In [21]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp

import glob

%matplotlib inline

## preparing & cleaning data

In [22]:
csv_files = glob.glob('Datasets/RideIndego 2016/*.csv')
df = pd.concat([pd.read_csv(f) for f  in csv_files], ignore_index = True)

### Find out NaN Values

In [23]:
df.isna().sum()

trip_id                   0
duration                  0
start_time                0
end_time                  0
start_station_id         10
start_lat                17
start_lon                17
end_station_id            0
end_lat                1591
end_lon                1591
bike_id                   0
plan_duration             0
trip_route_category       0
passholder_type           0
dtype: int64

### Drop any Row with NaN 0 in end_lat end_lon

In [24]:
df['start_lat'] = pd.to_numeric(df['start_lat'], errors='coerce')
df['start_lon'] = pd.to_numeric(df['start_lon'], errors='coerce')
df['start_station_id'] = pd.to_numeric(df['start_station_id'], errors='coerce')
df['end_station_id'] = pd.to_numeric(df['end_station_id'], errors='coerce')
df['end_lat'] = pd.to_numeric(df['end_lat'], errors='coerce')
df['end_lon'] = pd.to_numeric(df['end_lon'], errors='coerce')
df['bike_id'] = pd.to_numeric(df['bike_id'], errors='coerce')
df['plan_duration'] = pd.to_numeric(df['plan_duration'], errors='coerce')

In [25]:
df.isna().sum()

trip_id                   0
duration                  0
start_time                0
end_time                  0
start_station_id         10
start_lat                69
start_lon                69
end_station_id            0
end_lat                3023
end_lon                3023
bike_id                   0
plan_duration             0
trip_route_category       0
passholder_type           0
dtype: int64

In [27]:
df = df.dropna(how='any').reset_index(drop=True)
df

,trip_id,duration,start_time,end_time,start_station_id,start_lat,start_lon,end_station_id,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,25183529,240,7/1/2016 0:07,7/1/2016 0:11,3063.0,39.946331,-75.169800,3064,39.938400,-75.173271,3640,30,One Way,Indego30
1,25183528,480,7/1/2016 0:10,7/1/2016 0:18,3124.0,39.952950,-75.139793,3026,39.941380,-75.145638,3349,30,One Way,Indego30
2,25183527,1020,7/1/2016 0:11,7/1/2016 0:28,3043.0,39.930820,-75.174744,3034,39.933151,-75.162483,5279,30,One Way,Indego30
3,25183526,1500,7/1/2016 0:13,7/1/2016 0:38,3026.0,39.941380,-75.145638,3026,39.941380,-75.145638,5198,0,Round Trip,Walk-up
4,25183525,2700,7/1/2016 0:13,7/1/2016 0:58,3037.0,39.954239,-75.161377,3010,39.947109,-75.166183,3382,0,One Way,Walk-up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651966,4828349,540,6/30/2016 23:37,6/30/2016 23:46,3028.0,39.940610,-75.149580,3063,39.946330,-75.169800,3577,30,One Way,Indego30
651967,4828348,60,6/30/2016 23:37,6/30/2016 23:38,3066.0,39.945610,-75.173480,3066,39.945610,-75.173480,3535,0,Round Trip,Walk-up
651968,4828352,900,6/30/2016 23:38,6/30/2016 23:53,3010.0,39.947110,-75.166180,3070,39.960620,-75.139830,2594,0,One Way,Walk-up
651969,4828353,60,6/30/2016 23:38,6/30/2016 23:39,3037.0,39.954240,-75.161380,3037,39.954240,-75.161380,3303,30,Round Trip,Indego30
651970,4828355,300,6/30/2016 23:40,6/30/2016 23:45,3101.0,39.942950,-75.159550,3086,39.940190,-75.166910,3687,0,One Way,Walk-up